<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="profile-container">
        <h2>Change Password</h2>
        
        <form method="POST" action="/url/update-password">
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" name="newPassword" required />
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" required />
            </div>
            <button type="submit">Change Password</button>
        </form>
        
        <a href="/profile">Back to Profile</a>
    </main>
    
</body>
</html>